<!DOCTYPE html>
<html lang="pl">
<head>
<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dzieje się w Małopolsce</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {%  endblock %}
</head>
<body>
<div class="navbar-fixed">
 <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">REGIONY</a></li>
        <li><a href="#">MIASTA</a></li>
        <li><a href="#">LEGENDY</a></li>
        <li><a href="#">WYDARZENIA</a></li>
        <li><a href="#">BIBILOGRAFIA</a></li>
        <li><a href="#">KONTAKT</a></li>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a 8href="#">REGIONY</a></li>
        <li><a href="#">MIASTA</a></li>
        <li><a href="#">LEGENDY</a></li>
        <li><a href="#">WYDARZENIA</a></li>
        <li><a href="#">BIBILOGRAFIA</a></li>
        <li><a href="#">KONTAKT</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
{% block content %}
{% endblock %}
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Kontakt</h5>
          <p class="grey-text text-lighten-4">Jeśli masz pomysł jak uczynić ten serwis lepszym,
              chcesz ddodać materiały o swojej gminie lub po prostu chcesz się ze mną skontaktować:</p>
            <p>Wyślij wiadomość</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="">Adrianna Bielicz</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>
</body>
</html>